.selectLang {
    width: 150px !important;
    font-family: monospace, "Courier" !important;
    vertical-align: middle;
}

.changeLang {
    z-index: 22;
    float: right;
    display: block;
}

// Modal opacity
.ui-widget-overlay {
    background-color: white;
    filter:alpha(opacity=60) !important;  /* works in IE 7 */
    opacity: 0.6 !important;  /* works in Firefox */
}

.signupEmail input {
    //background: url('resources/images/football.png') 0 0 no-repeat;
    background-color: red;
}

.disable-scroll .ui-dialog-content {
  overflow: hidden !important;
}

.ui-wizard-step-title-custom {
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    height: 23px;
    width: 23px;
    margin: 0 3px 0 0;
    padding: 0.4em;
    float: left;
}

localisationLanguage.ui-selectonemenu input, select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:200px !important;
    box-sizing:border-box;
}

.headerMenuItems {
    font-size: 12px;
}